html {
  background: url(https://images.pexels.com/photos/2695679/pexels-photo-2695679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center fixed;
  background-size: cover;
}



.textarea { 
  background-color: rgb(190, 235, 241);
  position: absolute;
  width: 40%;
  border-radius: 2%;
  padding: 50px;
  margin: 20px;
  left: 30%;
  right: 30%;
  top: 20%;
  bottom: 20%;
  opacity: 100%;
  text-align: center;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}



